.panel-form {
    margin-top: 32px;
}

.panel-form .title {
    font-size: 32px;
    color: #2BB0B7;
    text-align: center;
    text-transform: uppercase;
}

.button-place {
    text-align: center;
    margin-bottom: 30px;
}

